In [3]:
from ftplib import FTP 
import cx_Oracle as oracle
import pandas as pd


def query_to_csv(query):
    
    query = "select * from most_viewed_sample m inner join user_profile u on m.userid = u.userid"
    try:
        cursor = db.cursor()
        cursor.execute(query)
        data = cursor.fetchall()
        SqlDomain = cursor.description
        DomainNum = len(SqlDomain)
        SqlDomainName = [None]*DomainNum
        for i in range(DomainNum):
            SqlDomainName[i] = SqlDomain[i][0]
    #获取表头
    
        df = pd.DataFrame(data)
        df.columns = SqlDomainName
    
    
    
        display(df)
        file_name = input("保存csv为（默认test.csv）不要csv后缀：   ")
        if file_name=="":
            file_name = "test"
        df.to_csv(file_name+".csv")
        print("Successfully Saved to CSV as: "+file_name+".csv")
        cursor.close()
        print("Finished")
        return file_name+".csv"
    
    except:
        return False
        print("Query failed")
def upload_ftp(ip,port,username,password,filename):
    ftp = FTP()
# 打开调试级别2, 显示详细信息 
    ftp.set_debuglevel(2) # 
    try:
        ftp.connect(ip,port)
        ftp.login(username,password)
    except:
        ftp.connect("127.0.0.1",2121)
        ftp.login("alex", "123")
          
     
    ftp.cwd("drop_files") #ftp location下的目录，里面用于存放文件
    # 切换目录, 相对于ftp目录, 比如设置的ftp根目录为/vat/ftp, 那么pub就是/var/ftp下面的目录 
    
    f = open(filename, 'rb') # 打开csv文件夹
    ftp.storbinary("STOR {}".format(filename), f,1024) 
    f.close() # 关闭调试模式 
    ftp.set_debuglevel(0) # 退出FTP连接 
    ftp.quit()
    print("Successfully upload")
    print("Quitting FTP upload")
    
if __name__ == '__main__':
    username = input("Username(必须大写）:   ")
    password = input("Password:   ")
    database_ip = input("数据库IP(默认127.0.0.1):   ")
    port = input("Port(默认1521):    ")
    database = input("服务名/数据库(默认orcl):    ")
    string = username+"/"+password+"@"+database_ip+":"+"port"+"/"+database
    try:
        db = oracle.connet(string)
    except:
        db = oracle.connect('tenant01/123456@127.0.0.1:1521/orcl')
    print("successfully_connected")
    query = input("Enter SQL Query:    ")
    filename  = query_to_csv(query)
    ipconfig = input("FTP IP address(default 127.0.0.1):   ")
    port = input("Port number(default 2121):   ")
    username = input("Username: (default alex):   ")
    password = input("Password: (default 123):   ")
    upload_ftp(ipconfig,port,username,password,filename)

Username(必须大写）:
Password:
数据库IP(默认127.0.0.1):
Port(默认1521):
服务名/数据库(默认orcl):
successfully_connected
Enter SQL Query:

,USERID,TIME_STAMP,ADGROUP_ID,PID,NONCLK,CLK,USERID,CMS_SEGID,CMS_GROUP_ID,FINAL_GENDER_CODE,AGE_LEVEL,PVALUE_LEVEL,SHOPPING_LEVEL,OCCUPATION,NEW_USER_CLASS_LEVEL
0,199245,1494402160,736349,430548_1007,1,0,199245,66,9,1,3,2.0,3,0,2.0
1,31399,1494119672,736349,430539_1007,1,0,31399,0,11,1,5,1.0,3,0,NaN
2,603750,1494571635,736349,430548_1007,1,0,603750,0,3,2,3,NaN,3,0,2.0
3,184484,1494647015,736349,430539_1007,1,0,184484,80,10,1,4,2.0,3,0,2.0
4,225798,1494552166,736349,430548_1007,1,0,225798,0,4,2,4,NaN,3,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24361,538612,1494049237,736349,430539_1007,1,0,538612,0,3,2,3,NaN,3,0,4.0
24362,44759,1494506356,736349,430548_1007,1,0,44759,0,1,2,1,NaN,1,0,NaN
24363,424172,1494555535,736349,430539_1007,1,0,424172,0,2,2,2,2.0,3,0,NaN
24364,105869,1494633421,736349,430548_1007,1,0,105869,8,2,2,2,1.0,3,0,3.0
24365,507219,1494316524,736349,430539_1007,1,0,507219,0,2,2,2,NaN,3,0,2.0

保存csv为（默认test.csv）不要csv后缀：
Successfully Saved to CSV as: test.csv
Finished
FTP IP address(default 127.0.0.1):
Port number(default 2121):
Username: (default alex):
Password: (default 123):
*get* '220 Welcome to my ftp\n'
*resp* '220 Welcome to my ftp'
*cmd* 'USER alex'
*put* 'USER alex\r\n'
*get* '331 Username ok, send password.\n'
*resp* '331 Username ok, send password.'
*cmd* 'PASS ***'
*put* 'PASS ***\r\n'
*get* '230 Login successful.\n'
*resp* '230 Login successful.'
*cmd* 'CWD drop_files'
*put* 'CWD drop_files\r\n'
*get* '250 "/drop_files" is the current directory.\n'
*resp* '250 "/drop_files" is the current directory.'
*cmd* 'TYPE I'
*put* 'TYPE I\r\n'
*get* '200 Type set to: Binary.\n'
*resp* '200 Type set to: Binary.'
*cmd* 'PASV'
*put* 'PASV\r\n'
*get* '227 Entering passive mode (127,0,0,1,32,202).\n'
*resp* '227 Entering passive mode (127,0,0,1,32,202).'
*cmd* 'STOR test.csv'
*put* 'STOR test.csv\r\n'
*get* '125 Data connection already open. Transfer starting.\n'
*resp* '125 Data connection already open. Transfer starting.'
*get* '226 Transfer complete.\n'
*resp* '226 Transfer complete.'
Successfully upload
Quitting FTP upload

In [17]:

from pyftpdlib.authorizers import DummyAuthorizer
from pyftpdlib.handlers import FTPHandler, ThrottledDTPHandler
from pyftpdlib.servers import FTPServer
import configparser
import logging
def main(ip,port):
    IP = ip

    PORT = port
    
    #if empty, go with default
    if IP == "":
        IP = "127.0.0.1"
    if PORT =="":
        PORT = "2121"

# 上传速度  100kb/s
    MAX_UPLOAD = 100 * 1024

    # 下载速度 100kb/s
    MAX_DOWNLOAD = 100 * 1024

    # 最大连接数
    MAX_CONS = 100

    # 最多IP数
    MAX_PER_IP = 10

    # 被动端口范围，注意被动端口数量要比最大IP数多，否则可能出现无法连接的情况
    PASSIVE_PORTS = (8300, 8500)

    # 是否开启匿名访问 on|off
    ENABLE_ANONYMOUS = 'on' 

    # 匿名用户目录
    ANONYMOUS_PATH = 'C:/'


    # 日志文件
    LOGING_NAME = 'pyftp.log'

    # 欢迎信息
    WELCOME_MSG = 'Welcome to my ftp'

    # 新建一个用户组
    authorizer = DummyAuthorizer()

    # 读取用户配置
    config = configparser.ConfigParser()
    config.read("user.ini")
    user_list = config.sections()
    for user in user_list:
        passwd = config[user]["password"]
        perm = config[user]["perm"]
        home_dir = config[user]["home"]
        # 将用户名，密码，指定目录，权限 添加到里面
        authorizer.add_user(user, passwd, homedir=home_dir, perm=perm)

    # 添加匿名用户 只需要路径
    if ENABLE_ANONYMOUS == 'on':
        authorizer.add_anonymous(ANONYMOUS_PATH)

    # 下载上传速度设置
    dtp_handler = ThrottledDTPHandler
    dtp_handler.read_limit = MAX_DOWNLOAD
    dtp_handler.write_limit = MAX_UPLOAD

    # 初始化ftp句柄
    handler = FTPHandler
    handler.authorizer = authorizer

    # 添加被动端口范围
    handler.passive_ports = range(PASSIVE_PORTS[0], PASSIVE_PORTS[1])


    # 欢迎信息
    handler.banner = WELCOME_MSG

    # 监听ip 和 端口
    server = FTPServer((IP, PORT), handler)

    # 最大连接数
    server.max_cons = MAX_CONS
    server.max_cons_per_ip = MAX_PER_IP

    # 开始服务
    print('FTP开始服务 ', (IP, PORT))
    server.serve_forever()
if __name__ == '__main__':
    ip = input("IP address:   ")
    port = input("Port Number:    ")
    main(ip,port)